.button-input {
  position: relative;
  overflow: hidden;
}
.button-input > input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
/* button:focus {
  background-color: transparent !important;
} */
