@using Rookie.Ecom.Contracts.Dtos
@model UserDto

<div class="row row-20 gutters-20">
    <div class="col-md-6">
        <div class="form-wrap">
            <input class="form-input" id="receiver-name" type="text" name="name" value="@Model.FullName">
            <label class="form-label" for="receiver-name">Receiver's Name</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-wrap">
            <input class="form-input" id="receiver-phone" type="text" name="phone" value="@Model.PhoneNumber">
            <label class="form-label" for="receiver-phone">Phone Number</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-wrap">
            <input class="form-input" id="receiver-address" type="text" name="address" value="@Model.UserAddress">
            <label class="form-label" for="receiver-address">Shipping Address</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-wrap">
            <label class="form-label" for="note">Note</label>
            <textarea class="form-input textarea-lg" id="note" name="note"></textarea>
        </div>
    </div>
</div>
