@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CartVM
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">Check out</h3>
            <div class="breadcrumbs-custom-decor"></div>
        </div>
        <div class="box-transform" style="background-image: url(/images/bg-1.jpg);"></div>
    </div>
</section>

<section class="section section-lg bg-default text-md-left">
    <div class="container">
        <div id="cart">
            @foreach (var item in Model.Items)
            {
                <div class="row p-3 mx-5 my-0 justify-content-between">
                    <article class="product-cart ">
                        <div class="product-figure-cart ">
                            <img src=@item.ImageUrl alt=@item.Name width="100" height="100" />
                        </div>
                        <div class="product-detail-cart flex-column">
                            <h5 class="product-name-cart">@item.Name</h5>

                            <p style="font-size: 15px; margin-top: auto">Quantity: @item.Quantity</p>
                        </div>
                    </article>

                    <div class="d-flex flex-column before-dropdown" style="width: auto;">
                        <h6 class="product-price-cart mt-auto mb-0" style="text-align: right;">
                            <span class="total-price">@(item.Price * item.Quantity)</span>
                        </h6>
                    </div>
                </div>
                <hr class="my-1 mx-5">
            }
        </div>
        <div class="row-reverse mx-5 mt-3" style="text-align: right;" id="sum">
            <h5 class="total-price-cart ">Total:</h5>
            <h5 class="total-price-cart"><span class="sum">@Model.Total</span></h5>
        </div>



    </div>
</section>
<section class="section section-lg bg-light text-md-left">
    <div class="container">
        <h4 class="text-spacing-25 text-transform-none text-center">Checkout information</h4>
        <form id="order-form" class="rd-form rd-mailform text-center" asp-controller="Cart" asp-action="Checkout" asp-route-returnUrl="https://localhost:5011/" method="post">
            @await Component.InvokeAsync("CheckoutInfo")
            <button class="button button-secondary button-winona" onclick=placeOrder()>Confirm</button>
        </form>
    </div>
</section>
