@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Rookie.Ecom.Contracts
@using Rookie.Ecom.Contracts.Dtos
@model PagedResponseModel<CategoryDto>
@{
}
<div>
    <h1>Weather forecast</h1>
    <p>This component demonstrates fetching data from the server and working with URL parameters.</p>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Desc</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var cat in Model.Items)
                {
                    <tr>
                        <td>@cat.Id</td>
                        <td>@cat.Name</td>
                        <td>@cat.Desc</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>