@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section section-lg bg-default text-md-left">
    <div class="container wow fadeInLeft" data-wow-delay=".15s">
        <div class="row row-60 justify-content-center flex-lg-row">
            <!-- <div class="col-lg-6 col-xl-5"><img src="images/product1-669x669.png" alt="" width="669" height="669"/>
            </div> -->
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <!-- Product-->
                <article class="product-detail ">
                    <div class="product-figure ">
                        <img src="images/product-1-161x162.png" alt="" width="350" height="350" />
                    </div>
                    <div class="product-price-wrap">
                        <div class="product-price-detail">$24.00</div>
                    </div>
                </article>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-7 d-flex flex-column justify-content-between">
                <!-- <div class=""> -->
                <article class="quote-modern">
                    <h3 class="heading-3">Margherita Pizza</h3>
                    <hr></hr>
                    <h5 class="quote-modern-text my-3">
                        <span class="q">
                            Torus accelerares, tanquam ferox cacula. Fluctuss
                            experimentum in burdigala! Ubi est peritus classis? Peregrinatione superbe ducunt ad magnum
                            verpa.
                        </span>
                    </h5>
                    <hr></hr>
                </article>

                <div class="row align-items-center justify-content-between my-0">
                    <div class="col-md-12 col-lg-4 col-xl-3 my-2">
                        <div class="input-group number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-stepper " data-dir="dwn"><span class="fa fa-minus"></span></button>
                            </span>
                            <input type="text" class="form-control text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-stepper " data-dir="up"><span class="fa fa-plus"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 col-xl-4">
                        <div class="button-wrap">
                            <a class="button button-xs button-primary button-winona" href="#">
                                Add to
                                cart
                            </a>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <!-- Quote Modern-->


            </div>

        </div>
    </div>
</section>