@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section section-lg bg-default">
    <div class="container">
        <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left">
            <div class="col-lg-4 col-xl-3">
                <h5 class="text-spacing-200 text-capitalize">CATEGORY</h5>
                <ul class="nav list-category list-category-down-md-inline-block">
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s">
                        <a class="active"
                           href="#tabs-4-1" data-toggle="tab">All products</a>
                    </li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".1s">
                        <a href="#tabs-4-2" data-toggle="tab">Combos</a>
                    </li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".2s">
                        <a href="#tabs-4-3" data-toggle="tab">Pizzas</a>
                    </li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s">
                        <a href="#tabs-4-4" data-toggle="tab">Burgers</a>
                    </li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".4s">
                        <a href="#tabs-4-5" data-toggle="tab">Spaghetti</a>
                    </li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".5s">
                        <a href="#tabs-4-6" data-toggle="tab">Drinks</a>
                    </li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".6s">
                        <a href="#tabs-4-7" data-toggle="tab">Desserts</a>
                    </li>
            </div>
            <div class="col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
                        <!-- Product-->
                        <article class="product wow fadeInLeft" data-wow-delay=".15s">
                            <div class="product-figure ">
                                <img src="images/product-1-161x162.png" alt="" width="161" height="162" />
                            </div>
                            <h6 class="product-title">Margherita Pizza</h6>
                            <div class="product-price-wrap">
                                <div class="product-price">$24.00</div>
                            </div>
                            <div class="product-button">
                                <div class="button-wrap">
                                    <a class="button button-xs button-primary button-winona" href="#">
                                        Add to
                                        cart
                                    </a>
                                </div>
                                <div class="button-wrap">
                                    <a class="button button-xs button-secondary button-winona" asp-area="" asp-controller="Product" asp-action="Detail">
                                        View
                                        Product
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
                        <!-- Product-->
                        <article class="product wow fadeInLeft" data-wow-delay=".15s">
                            <div class="product-figure">
                                <img src="images/product-2-161x162.png" alt="" width="161" height="162" />
                            </div>
                            <h6 class="product-title">Mushroom Pizza</h6>
                            <div class="product-price-wrap">
                                <div class="product-price">$24.00</div>
                            </div>
                            <div class="product-button">
                                <div class="button-wrap">
                                    <a class="button button-xs button-primary button-winona" href="#">
                                        Add to
                                        cart
                                    </a>
                                </div>
                                <div class="button-wrap">
                                    <a class="button button-xs button-secondary button-winona" href="#">
                                        View
                                        Product
                                    </a>
                                </div>
                            </div><span class="product-badge product-badge-new">New</span>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
                        <!-- Product-->
                        <article class="product wow fadeInLeft" data-wow-delay=".15s">
                            <div class="product-figure">
                                <img src="images/product-3-161x162.png" alt="" width="161" height="162" />
                            </div>
                            <h6 class="product-title">Hawaiian Pizza</h6>
                            <div class="product-price-wrap">
                                <div class="product-price">$24.00</div>
                            </div>
                            <div class="product-button">
                                <div class="button-wrap">
                                    <a class="button button-xs button-primary button-winona" href="#">
                                        Add to
                                        cart
                                    </a>
                                </div>
                                <div class="button-wrap">
                                    <a class="button button-xs button-secondary button-winona" href="#">
                                        View
                                        Product
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
                        <!-- Product-->
                        <article class="product wow fadeInLeft">
                            <div class="product-figure">
                                <img src="images/product-4-161x162.png" alt="" width="161" height="162" />
                            </div>
                            <h6 class="product-title">Pesto Pizza</h6>
                            <div class="product-price-wrap">
                                <div class="product-price product-price-old">$40.00</div>
                                <div class="product-price">$24.00</div>
                            </div>
                            <div class="product-button">
                                <div class="button-wrap">
                                    <a class="button button-xs button-primary button-winona" href="#">
                                        Add to
                                        cart
                                    </a>
                                </div>
                                <div class="button-wrap">
                                    <a class="button button-xs button-secondary button-winona" href="#">
                                        View
                                        Product
                                    </a>
                                </div>
                            </div><span class="product-badge product-badge-sale">Sale</span>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
                        <!-- Product-->
                        <article class="product wow fadeInLeft">
                            <div class="product-figure">
                                <img src="images/product-4-161x162.png" alt="" width="161" height="162" />
                            </div>
                            <h6 class="product-title">Pesto Pizza</h6>
                            <div class="product-price-wrap">
                                <div class="product-price product-price-old">$40.00</div>
                                <div class="product-price">$24.00</div>
                            </div>
                            <div class="product-button">
                                <div class="button-wrap">
                                    <a class="button button-xs button-primary button-winona" href="#">
                                        Add to
                                        cart
                                    </a>
                                </div>
                                <div class="button-wrap">
                                    <a class="button button-xs button-secondary button-winona" href="#">
                                        View
                                        Product
                                    </a>
                                </div>
                            </div><span class="product-badge product-badge-sale">Sale</span>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
                        <!-- Product-->
                        <article class="product wow fadeInLeft">
                            <div class="product-figure">
                                <img src="images/product-4-161x162.png" alt="" width="161" height="162" />
                            </div>
                            <h6 class="product-title">Pesto Pizza</h6>
                            <div class="product-price-wrap">
                                <div class="product-price product-price-old">$40.00</div>
                                <div class="product-price">$24.00</div>
                            </div>
                            <div class="product-button">
                                <div class="button-wrap">
                                    <a class="button button-xs button-primary button-winona" href="#">
                                        Add to
                                        cart
                                    </a>
                                </div>
                                <div class="button-wrap">
                                    <a class="button button-xs button-secondary button-winona" href="#">
                                        View
                                        Product
                                    </a>
                                </div>
                            </div><span class="product-badge product-badge-sale">Sale</span>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
                        <!-- Product-->
                        <article class="product wow fadeInLeft">
                            <div class="product-figure">
                                <img src="images/product-4-161x162.png" alt="" width="161" height="162" />
                            </div>
                            <h6 class="product-title">Pesto Pizza</h6>
                            <div class="product-price-wrap">
                                <div class="product-price product-price-old">$40.00</div>
                                <div class="product-price">$24.00</div>
                            </div>
                            <div class="product-button">
                                <div class="button-wrap">
                                    <a class="button button-xs button-primary button-winona" href="#">
                                        Add to
                                        cart
                                    </a>
                                </div>
                                <div class="button-wrap">
                                    <a class="button button-xs button-secondary button-winona" href="#">
                                        View
                                        Product
                                    </a>
                                </div>
                            </div><span class="product-badge product-badge-sale">Sale</span>
                        </article>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>